<a href="#">
        <div class="info-box">
          <span><img [src]="restaurant.imagePath"/></span>

          <div class="info-box-content">
            <span class="info-box-text">{{restaurant.name}}</span>
            <span class="info-box-star"><i class="fa fa-star"></i> {{restaurant.rating}}</span>
            <span class="info-box-detail">{{restaurant.category}}</span><br/>
            <span class="info-box-detail">{{restaurant.deliveryEstimate}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>